* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Header section begin */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
 }

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: navy;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: gray;
  }
  header a {
    text-decoration: none;
    color: black;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul .nav-menu {
    border-bottom: solid blue;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
/* Header section end */

/* Hero section begin */
.hero {
    /* background-image: url('../images/hero-bg.jpg'); */
    position: relative;
    text-align: center
}

.hero img {
  max-width: 100%;
  display: flex;
}

/* Hero section end */

.flex-row {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.align-left {
  display: flex;
  align-items: center;
  text-align: center;
  padding-right: 30px;
  border-right: solid navy;
}

.align-left h2 {
  font-size: 50px;
}

.align-right {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
}

.align-right p {
  font-size: 23px;
}

.align-right ul {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* work section begin */
.project {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
  flex: 1;
}

.flex-row img {
  width: 100%;
  padding: 60px 60px 60px 60px;
}
/* work section end */