:root {
  --primary-color: #dad8d8;
  --secondary-color: #1e2124;
  --tertiary-color: #92cccd;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  color: var(--primary-color);
}

body {
  line-height: 1.3;
  background-color: var(--secondary-color);
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

nav {
  padding: 24px;
}

.header-logo {
  padding: 5px 25px 5px 90px;
  margin: 15px 0;
  background-color: var(--tertiary-color);
}

.header-logo h1 {
  font-size: 42px;
  text-decoration: none;
  color: var(--secondary-color);
}


/* mobile menu begin */
.mobile-menu {
  display: none;
}

.mobile-menu span {
  display: block;
  width: 32px;
  height: 4px;
  background-color: var(--tertiary-color);
}

.mobile-menu span:not(:last-child) {
  margin-bottom: 3px;
}
/* mobile menu end */


/* desktop menu begin */
.desktop-menu {
  display: none;
}

.desktop-menu a {
    font-size: 22px;
    padding: 10px;
    color: var(--tertiary-color);
    border-bottom: 6px solid var(--tertiary-color);
}

.desktop-menu a:not(:last-child) {
  margin-right: 10px;
}

.desktop-menu a:hover {
  text-decoration: underline;
}
/* desktop menu end */


/* globals */
.flex {
  display: flex;
}

.flex-w {
  flex-wrap: wrap;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.ai-c {
  align-items: center;
}

/* visible for small screens */
@media screen and (max-width: 1024px) {
  .mobile-menu {
    display: block;
  }

  .header-logo h1 {
    font-size: 20px;
  }

}

/* visible for medium-large screens */
@media screen and (min-width: 1025px) {
  .desktop-menu {
    display: block;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin: 50px 10px;
  padding-bottom: 50px;
  /* width: 100%; */
  max-width: 80%;
}

.align-left {
  text-align: right;
  padding-right: 50px;
}

.align-left h2 {
  font-size: 32px;
  /* color: var(--tertiary-color); */
}

.align-right {
  flex-wrap: wrap;
  text-align: left;
  padding-left: 30px;
  border-left: solid var(--primary-color);
}

/* hero section begin */
.hero {
  background: url(../images/hero-img.png);
  background-size: 20%;
  padding: 200px 35px 20px 0;
  background-attachment: fixed;
}

.hero h2 {
  color: var(--secondary-color);
  background: var(--tertiary-color);
  font-size: 23px;
  padding: 5px 60px 5px 25px;
}
/* hero section end */


/* about me section begin */
.my-profile {
  width: 100%;
  margin: 200px 0;
}

.my-profile-menu {
  padding-left: 50px;
  padding-top: 50px;
}

.my-profile-menu h2 {
  color: var(--tertiary-color);
  font-size: 30px;
  text-align: right;
  padding-right: 20px;
  flex: 1 20%;
}

.my-profile-info {
  flex: 4 70%;
  border-left: 5px solid var(--tertiary-color);
}

.my-profile-img {
  flex: 1 12%;
  margin-right: 20px;
  padding-left: 50px;
}

.my-profile-img img {
  max-width: 60%;
}

.my-profile-text {
  flex: 1 70%;
  line-height: 1.8;
}

.my-profile-text p {
  font-size: 23px;
  color: var(--tertiary-color);
}

/* about me section end */



/* work section begin */

.work-section {
  width: 100%;
  margin: 50px 0;
}

.my-projects-menu {
  padding-left: 50px;
  padding-top: 50px;
}

.my-projects-menu h2 {
  color: var(--tertiary-color);
  font-size: 30px;
  text-align: right;
  padding-right: 20px;
  flex: 1 20%;
}

.my-projects {
  border-left: 5px solid var(--tertiary-color);
}

.my-project-info {
  flex: 1;
  background: var(--tertiary-color);
  margin: 20px;
}

.my-project-info a img {
  max-width: 100%;
}

.my-project-text {
  padding: 25px;
  line-height: 1.3;
}

.my-project-text h3 {
  font-size: 18px;
  color: var(--secondary-color);
  font-weight: bold;
}

.my-project-text p {
  font-size: 14px;
  color: var(--secondary-color);
}

/* .my-project:hover img {
  -webkit-transform: scale (1.3);
  transform: scale(1.3);
} */
/* work section end */


/* contact-me section begin */
.contact-info {
text-decoration: none;
}

.contact-info a {
  font-size: 22px;
  padding: 10px;
  color: var(--tertiary-color);
  border-bottom: 6px solid var(--tertiary-color);
}

/* contact-me section end */


/* footer section begin */
.footer {
  padding: 24px;
}
/* footer section end */